// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#signupForm{
  color:#C9C9C9;
  padding: 40px;
  background-color:rgba(0, 0, 0, 0.5);
  margin-top: 120px;
}

#navbar{
  background-color:rgba(0, 0, 0, 0.5);
  border:none;
  box-shadow:none;
}

.navbar-nav > li > .dropdown-menu{
  background-color:rgba(0, 0, 0, 0.5);
  border:none;
  box-shadow:none;
  color:#C9C9C9;
}

// #dropDownColor{
//   color:#C9C9C9;
// }


.error{
  text-align: center;
  color: #d63a3a;
  font-size: 18px;
}

@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}

.body-backgound {  
  background-image: url(/images/signup_bg.jpg);
  background-size: 2500px 800px;
  background-position: 0px 0px;
  background-repeat: repeat-x;

  animation: animatedBackground 10s linear infinite;
}

