<span class="col-md-offset-2 col-md-4 language_selection">
<h2>What Are You in the Mood for?</h2>
<br>
<%= form_tag coding_challenges_path do%>
  <span id='language'>
  <span class='language_button'>
  <%= submit_tag "ruby", class: 'btn btn-md btn-default' %>
  </span>
  <%= submit_tag "javascript", class: 'btn btn-md btn-default' %> 
  </span>
<% end %>
</span> 